<header class="h-fit fixed top-0 left-0 right-0 z-10 bg-white px-6 py-3 flex items-center justify-between shadow-md over">
  <div class="max-w-[300px] min-w-[250px]">
    <a href="/">
      <%= image_tag(image_path('logo.png')) %>
    </a>
  </div>
</header>
